button {
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.todo {
    list-style-type: none;
    margin-left: -2.5rem;
}

li{
    cursor: pointer;
}